/* Custom tweaks on top of Tailwind */
.ql-editor { min-height: 250px; }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

[x-cloak] { display: none !important; }
